body, html {
  height: 100%;
}
body {
  background: #001821;
  color: #FFFFFF;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}
p {
  margin-top: 0;
}
* {
  /*чтобы падиннги не растягивали блок*/
  box-sizing:border-box
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  overflow: hidden;

}
.main-page-wrapper {
  background: url(./img/1.png) center top -8px no-repeat, url(./img/2.png) right bottom 193px no-repeat;
}
.hero {
  margin-bottom: 243px;
}
/*класс для выравнивания контента по центру блока*/
.container {
  margin: 0 auto;
  width: 1141px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  min-height: 523px;
}
.header {
  padding-top: 21px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__col {
  display: flex;
  align-items: center;
}
.header__col--align--right {
  justify-content: flex-end;
}
.logo {
  display: block;
  margin-right: 79px;
  
}
.menu {

}
.menu__list {
  display: flex;
  padding-top: 5px;
}
.menu__item {
  /* display: inline-block; */
  vertical-align: middle;
  margin-right: 55px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
  color: #DA0100;
}
.contacts {

  font-style: normal;
  text-align: right;
  line-height: 1.1;
}
.contacts__phone{
  text-decoration: none;
  font-size: 26px;
}
.contacts__workhours{
  font-size: 13px;
  color: #98A4A8;
  text-decoration: underline;
  margin-right: 2px;
}
.contacts__workhours:hover{
  color: #FFFFFF;
}
.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
  margin-bottom: 5px;
}
.about__text-section {
  width: 50%;
}
.about__header-text {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 28px;
  
}
.about__description-text {
  font-size: 18px;
  margin-bottom: 28px;
}
.details-btn {
  display: inline-block;
  border-radius: 35px;
  padding: 19px 39px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.details-btn:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);

}
.section {
  margin-bottom: 125px;
}
.section-news {
  margin-bottom: 145px;
}
.section-about {
  margin-bottom: 24px;
}
.section__title{
  display: inline-block;
  font-size: 36px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 50px;
  margin-right: 10px;
}
.flame {
  display: inline;
  margin-left: 0px;
}
.tour-list {
  display: flex;
  justify-content:space-between;
}
.tour-list__item {
  min-height: 450px;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  /* display: inline-block; */
  /* margin-right: 25px; */
  width: calc(100% / 3 - 18px);
  overflow: hidden;

}
.tour-list__item:last-child {
  margin-right: 0;
}
.tour-card__header {
  height: 144px;
  /* border-radius: 5px 5px 0px 0px;
  overflow: hidden; */
}

.tour-card__content {
  padding: 33px 16px 26px 22px;
  color: #303030;
  font-size: 14px;
  
}
.tour-card__title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 22px;
}
.tour-card__cell-container {
  display: flex;
  justify-content: flex-start;
}
.tour-card__cell {
  font-size: 16px;
  display: flex;
  margin-right: 23px;
  margin-bottom: 24px;
}
.tour-card__cell:nth-of-type(2n) {
  margin-right: 0px;
}
.tour-card__img-wrapper {
  margin-right: 10px;
  margin-left: 5px;
}

.tour-card__cell-text {
  /* display: inline-block;
  vertical-align: top; */
}
.tour-card__desc {
  margin-bottom: 24px;

}
.tour-card__btn-wrapper {
  display: flex;
  /* justify-content: center; */
}
.btn {
  /* display: inline-block; */
  box-sizing: border-box;
  border-radius: 35px;
  padding: 18px 29px 18px 30px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.btn--color--white {
  background: #FFFFFF;
  border: 1px solid #F5170E;
  color: #F5170E;

}
.btn--color--red {
  background: #F5170E;
  color: #FFFFFF;
}
.news {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}
.news__item {
  /* width: 557px; */
  margin-right: 3px;
}
.single-news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover /*чтобы картинка целиком заполняла блок*/;
}
.single-news__text-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 9px 30px 0px 30px;
  min-height: 150px;
}
.single-news__date {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 12px;
}
.single-news__title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.paginator--theme-light {
  color: #000000;

}
.paginator--theme-light .paginator__item--active .paginator__link {
  color: #FFFFFF ;
  background: #F5170E;

}
.paginator--theme-light .paginator__link:hover{
  color: #FFFFFF ;
  background: #F5170E;

}

.paginator__display {
  margin-right: 21px;
}
.paginator__item {
 text-align: center;
}
.paginator__list {
  display: flex;
  align-items: center;
}
.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  /* position: relative; */
  text-decoration: none;
  font-weight: bold;
  line-height: 32px; /*для выравнивания цифры по центру блока*/
}

.paginator__item--active .paginator__link{
  color: #F5170E;
  background: #fff;
}
.paginator__link:hover {
  color: #F5170E;
  background: #fff;
}
.about::before, .about__desc {
  /* display: inline-block;
  vertical-align: top; */
}
.about {
  display: flex;
}
.about::before {
  content: "";
  width: 490px;
  height: 505px;
  background: url("./img/gates.png") center center / cover no-repeat;
  display: block;
}
.about__desc {
  background: url("./img/mountains.png") center center / cover no-repeat;
  max-width: 785px;
  height: 455px;
  padding: 70px 200px 65px 80px;
  margin-left: -136px;
  margin-top: 95px;
}
.about__desc-titile {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 40px;

}
.about__desc-text {
  color: #060606;
  line-height: 1.6;
  margin-bottom: 71px;
}
.about__desc-text p {
  margin-bottom: 20px;
}
.about__desc-text p:last-child {
  margin-bottom: 0px;
}
.footer-container__section {
  height: 86px;
  margin-top: 25px;
}
.footer-container__content {
  border-top: 1px solid #FFFFFF;
  margin-top: 33px;
}
.footer {  
 
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  align-items: flex-end;
}
.socials {
  margin-right: 74px;
}
.socials-list {
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item--telegram .socials__link {
  background-image: url(./img/telegram.png);
  
}
.socials__item--telegram .socials__link:hover{
  background-image: url(./img/t-hover.png);
}
.socials__item--vk .socials__link {
  background-image: url(./img/vk.png);
}
.socials__item--vk .socials__link:hover{
  background-image: url(./img/vk-hover.png);
}
.socials__item--fb .socials__link {
  background-image: url(./img/f.png);
}
.socials__item--fb .socials__link:hover{
  background-image: url(./img/f-hover.png);
}
.socials__item--insta .socials__link {
  background-image: url(./img/in.png);
}
.socials__item--insta .socials__link:hover{
  background-image: url(./img/in-hover.png);
}


/*Services page*/

.top-line {
  min-height: 403px;
  background: url(./img/headline_1.png) right 48% top 50% no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}
.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__service {
  margin-bottom: 0;
}
.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;   
  margin-bottom: 10px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.breadcrumbs__item :after {
  display: inline-block; /* for text-decoration:*/
  padding-right: 1px ;
  padding-left: 2px ;
  content: "/";
  color: #9A9A9A;
  text-decoration: none;
}

.breadcrumbs__item:last-child :after {
 display: none;
 padding-right: 1px ;
 padding-left: 2px ;
}
.breadcrumbs__item:last-child {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
 }
.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
} 
.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}
.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 45px 0;
}
.services {
  margin-bottom: 65px;
}
.service {
  display: flex;
  padding: 52px 0 0;
  text-decoration: none;
}
.services__item {
  margin-bottom: 0px;
}
.service__img {
  width: 45%;
  margin-right: 0;
}
.service__content {
  flex: 1;
}
.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 4px;
  color: #000000;
}
.service__desc {
  line-height: 1.7;
  margin-bottom: 33px;
  font-size: 16px;
}
.service__btn-wrapper {
  display: flex;
}
.service__btn {
  display: inline-block;
  border-radius: 35px;
  padding: 19px 39px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.service__btn:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  color: #fff;
}
.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 72px 0;
}
.inner-section--bg--grey {
  background: #F4F5F5 ;
}
.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 52px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  margin-left: 46px;
  margin-bottom: 30px;
  filter: grayscale(100%);
}
.partners__item:hover {          
  filter: grayscale(0%);
}
.partners__item:nth-child(4n + 1){
  margin-left: 0;
}
.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.inner-footer__container {
  padding: 45px 0;
}
.inner-footer {
  margin-top: auto;
}
